<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <h1>Pass Vault</h1>
    <ul>
        <li>
            <a href="/register">REGISTER</a>
        </li>
        <li>
            <a href="/login">LOGIN</a>
        </li>
    </ul>
    <h3><%= msg %></h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>