<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <form action="/login" method="POST">

        <table>
            <tr>
                <td><label for="username">Username: </label></td>
                <td><input type="text" name="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><button type="submit">LOGIN</button></td>
            </tr>
        </table>
        
    </form>
    <h3><%= msg %></h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>