<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>


    <form action="/storePassword" method="POST">


        <table>
            <tr>
                <td><label for="Title/URL">Title/URL: </label></td>
                <td><input type="text" name="title" placeholder="title/url"></td>
            </tr>
            <tr>
                <td><label for="email">Email: </label></td>
                <td><input type="text" id="email" name="email" placeholder="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input type="text" id="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><button id="genPass"> Generate Password</button></td>
                <td><button type="submit">STORE</button></td>
            </tr>
        </table>
        
    </form>

    <script>

        function makeid(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
            }
            return result;
        }

        var button = document.getElementById('genPass');
        button.onclick = function() {
            textField = document.getElementById('password');
            textField.value = makeid(15);

            return false;
        }
    </script>
    <br>
    <a href="/profile">Home</a>
    <h3><%= msg %></h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>